body {
    min-width: min-content;
}

.img_background {
    background-image: url("/assets/algema_preso.jpg");
    background-color: #bbb;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.btn_wpp {
    color: #fff;
    font-weight: 700;
    border-color: #0cb100;
    background-color: #0cb100;
    letter-spacing: 0.05rem;
    border-radius: 4rem;
    padding: 0.6rem 2.5rem;
    font-size: 1.25rem;
    transition: 0.5s;
    transform: scale(1);
}

.btn_wpp:hover,
:focus {
    color: #0cb100;
    background-color: #fff;
}

.btn_wpp_icon {
    padding: 0.7rem 1rem;
}

#button_wpp_animate:not(:hover) {
    animation: bounce 1s infinite alternate;
}

.span_mark {
    color: #990000;
}

@media (max-width: 575.98px) {
    #list_itens h4 {
        font-size: calc(1rem + 0.5vw);
    }
}

@keyframes bounce {
    from {
        transform: scale(1.05);
    }
    to {
        transform: scale(1);
    }
}
